<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 구성 메타데이터(configuration metadata) : BeanFactory 가 IoC를 적용하기 위해 사용하는 설정 정보-->
    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-234-123456"/>
    </bean>


    <!-- 1. 생성자 주입 -->

    <!-- 빈 설정 id(이름) = member 클래스, class="인스턴스를 만들고자 하는 클래스의 위치"-->
    <!-- constructor-arg : Bean을 생성할 때 생성자에 전달할 인자를 설정하는 태그-->
    <!-- ref bean="account : ref (참조) => account 라는 라는 객체(Bean)를 참조 -->

    <!--<bean id="member" class="com.ohgiraffers.common.Member">

        <constructor-arg name="sequence" value="1"/>
        <constructor-arg name="name" value="홍길동"/>
        <constructor-arg name="phone" value="010-1234-5678"/>
        <constructor-arg name="email" value="hong123@gmail.com"/>
        <constructor-arg name="personalAccount">
            <ref bean="account"/>
        </constructor-arg>
    </bean>-->

    <!-- 2. setter 주입 -->
    <bean id="member" class="com.ohgiraffers.common.Member">
        <property name="sequence" value="1"/>
        <property name="name" value="홍길동"/>
        <property name="phone" value="010-1234-5678"/>
        <property name="email" value="hong123@gmail.com"/>
        <property name="personalAccount" ref="account"/>
    </bean>

</beans>