<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>아이템 구매</title>
</header>

<body>
<h1>아이템 구매</h1>
<table>
    <tr>
        <th>아이템 이름</th>
        <th>카테고리</th>
        <th>설명</th>
        <th>가격</th>
        <th></th>
    </tr>
    <tr th:each="item:${itemList}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemCategory}"></td>
        <td th:text="${item.itemDescription}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td>
            <form action="/addItem" method="post">
                <button name="itemNo" th:value="${item.itemNo}">담기</button>
            </form>
        </td>
    </tr>
</table>

<h2>장바구니</h2>

<table>
    <tr>
        <th>아이템 이름</th>
        <th>가격</th>
        <th>수량</th>
        <th>총 가격</th>
    </tr>
    <tr th:each="item:${itemList}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td th:text="${item.totalPrice}"></td>
        <td>
            <form action="/addItem" method="post">
                <button name="itemNo" th:value="${item.itemNo}">구매하기</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>