<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <form th:action="@{/user/signup}" method="post">
        아이디 : <input type="text" name="userId"/> <br>
        이름 : <input type="text" name="userName"/><br>
        비밀번호 : <input type="password" name="userPass"/> <br>
        권한 :
        <select name="role">
            <option value="USER">일반회원</option>
            <option value="ADMIN">관리자</option>
        </select>
        <br>
        <button>회원가입</button>
    </form>
    <script th:inline="javascript">
        // 오류 메세지를 출력함
        const message = [[${message}]];
        if(message){
            alert(message);
        }
    </script>
</body>
</html>