<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header{
            color: red;
        }
        .footer{
            color: aqua;
        }

    </style>
</head>
<body>

    <!--
        th:replace는 해당 영역에 있는 코드를 대체하고자 하는 Fragment를 호출하여 치환하는 문법으로
        기존에 정의되어있는 블록을 지우고 불러온 Fragment로 치환한다.

        불러오는 대상 블록을 새로 불러온 블록으로 변경
    -->
    <header th:replace="~{/common/header :: headerFragment}">
        <h1>나는 header</h1>
    </header>

    <!-- frament에 매개변수를 전달하여 동적으로 ui를 꾸미는 것도 가능하다. -->
    <aside th:replace="~{/common/aside::asideFragment(${test1}, ${test2})}"></aside>
    <main class="main">
        <aticle>
            <section>
                <h1> 메인 </h1>
            </section>
        </aticle>
    </main>

    <!--
        th:insert는 해당 영역에 삽입하고자 하는 Fragment를 삽입하는 문법으로
        블록 내에 정의되어있는 내용에 불러온 내용을 추가한다.

        불러오는 블록을 기준으로 내부의 값을 제거하고 불러온 Fragment로 삽입한다.
    -->
    <footer th:insert="~{/common/footer :: footerFragment}">
        <h2>나는 footer</h2>
    </footer>
</body>
</html>